.avatar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  /* padding-left: 1rem;
  padding-right: 1rem; */
  /* width: 2rem; */
}

.avatar__img {
  height: 2rem;
  width: auto;
  border-radius: 50%;
}

.avatar__name {
  font-size: .85em;
}