.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  min-width: 200px;
}

.nav-item > a {
  font-size: .85em;
  text-decoration: none;
}

a:link, a:visited {
  text-decoration: none;
  color: black;
}

a[class="active"] {
  color: blue;
}

a[class="active"] > svg {
  fill: blue;
}


